$pageBackground: #994b33;
$calculatorBody: #ccc;
$display: #d9f2d9;
$displayBuffer: #b2d8b2;
$displayBorder: #999;
$button-regular: #333;
$button-regular-shadow: #000;
$button-text: #fff;
$button-function: #f00;
$button-function-shadow: #515;
