.button-row {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  background-color: #333;
  box-shadow: inset -1px -3px 10px 1px #000;
  color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid black;
}


.button-function {
  background-color: red;
  box-shadow: inset -1px -1px 1px 1px #515;
}

.button-pressed {
  transform: scale(0.95);
}
.button-equals-top {
  height: 75px;
  margin-bottom: -80px;
  position: relative;
}

.button-equals-bottom {
  visibility: hidden;
}

.floating-symbol-equals {
  position: absolute;
  left: 17px;
  top: 35px;
}

.button-zero {
  width: 80px;
  margin-right: 0px;
  position: relative;
  border-radius: 5px;
}
