.display {
  width: 200px;
  margin: auto;
  background-color: $display;
  border-color: $displayBorder;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.display-current {
  font-family: 'Sarpanch', sans-serif;
  font-size: 2rem;
  line-height: 90%;
  text-align: right;
}

.display-buffer {
  font-family: 'Sarpanch', sans-serif;
  font-size: 0.7rem;
  background-color: $displayBuffer;
  text-align: right;
}
